
<div class="box">
  <div class="notificationBox">
    <h2>Notifications</h2>
    <div class="container">
      <mat-card *ngFor="let user of userList | slice:start:end; let i = index" class="userBox">
        <img [src]="user.avatar"/>
        <div class="user">
          <div id="nameUser">
            <span>{{user.name}}</span>
            {{user.description}}
          </div>
          <p>{{user.timestamp}}</p>
        </div>
        <div class="icon"></div>
      </mat-card>
    </div>
  </div>
  <mat-paginator [length]="userList.length" [hidePageSize]="true" [pageSizeOptions]="[6]" (page)="handlePageEvent($event)"  aria-label="Select page">
  </mat-paginator>
</div>


