.mat-mdc-card-content {
  padding: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  transition: background-color 0.2s ease;

  &:not(:last-child) {
    border-bottom: 1px solid var(--outlineVariant);
  }
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info img {
  cursor: pointer;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
  color: var(--onSurface);
}

.mutual-friends {
  font-size: 14px;
  color: var(--onSurfaceVariant);
}

.add-friend-button {
  background-color: var(--primary) !important;
  border-radius: 12px;
  color: var(--onPrimary);
  text-transform: none;
}
