.fullwcontainer {
  display: flex;
  background-color: var(--surface);
}

.container {

  //height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 2.3fr;
}

.left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  //background-color: #E22;
}

.right {
  width: calc(100% - 2rem);
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;

}

img {
  width: 180px;
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  max-width: 672px;
  max-height: 50px;
  background-color: var(--surfaceContainer);
  border-radius: 12px;
}

.material-symbols-outlined {

  color: var(--onSurface);
  margin: 10px;
  cursor: pointer;
}

#searchInput {
  width: calc(100% - 30px);
  height: 90%;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--onSurface);
  outline: none;
  background-color: var(--surfaceContainer);
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

#notiIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 12px;

  background-color: var(--surface);;
}

#notiIcon:hover {
  background-color: var(--surfaceContainerHighest);
  color: var(--onSecondaryContainer);
  border-radius: 12px;
  cursor: pointer;
}

#notiIconsym {
  //background-color: var(--inverseOnSurface);
}

#notiIcon.active {
  background-color: var(--primaryContainer);
  color: var(--onSecondaryContainer);
  border-radius: 12px;
}


.logoutBox {
  display: flex;
  align-items: center
}

.name {
  margin-right: 10px;
}

.logoutBox span {
  font-size: 28px;
  margin: 0 10px 0 0;
}

::ng-deep .mat-mdc-icon-button {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

::ng-deep.mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

@media (max-width: 1366px) {

  .search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    max-width: 555px;
    max-height: 50px;
    background-color: var(--surfaceContainer);
    border-radius: 12px;
  }

}

@media (max-width: 1024px) {

  .search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    max-width: 390px;
    max-height: 50px;
    background-color: var(--surfaceContainer);
    border-radius: 12px;
  }

  .container {

    //height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
  }

}

//.container{
//  width: calc(100% - 4rem);
//  display: flex;
//  flex-direction: row;
//  background-color: var(--surface);
//  height: 90%;
//  align-items: center;
//  padding: 0 2rem;
//}
//
//
//.left-navbar{
//  width: 25%;
//
//  .logo{
//    width: 180px;
//
//  }
//}
//
//
//
//.middle-navbar{
//  width: 50%;
//
//  display: flex;
//  justify-content: center;
//
//  .search{
//    width: 70%;
//    height: 80%;
//
//    mat-form-field{
//      width: 100%;
//      background-color: var(--surfaceContainer);
//      border-radius: 12px;
//      transition: background-color 0.3s;
//      border: none!important;
//      outline: none;
//    }
//
//    mat-form-field ::ng-deep .mdc-notched-outline__leading {
//      border: none;
//    }
//
//    mat-form-field ::ng-deep .mdc-notched-outline__notch {
//      border: none;
//    }
//
//    mat-form-field ::ng-deep .mdc-notched-outline__trailing {
//      border: none;
//    }
//
//    mat-form-field:hover {
//      background-color: var(--surfaceContainerHighest);
//    }
//  }
//}
//
//.right-navbar{
//  width: 25%;
//  display: flex;
//  justify-content: flex-end;
//  flex-direction: row;
//  gap:5%;
//
//
//  .notifications-icon{
//    box-shadow: none;
//    background-color: var(--surface);
//    color: var(--onSecondaryContainer);
//    border-radius: 8px;
//  }
//
//
//  .avatar-user{
//    width: 2.5rem;
//    height: 2.5rem;
//    border-radius: 100%;
//
//  }
//
//
//  .user-information-avatar{
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    gap:10px;
//
//    .userName{
//      font-size: 16px;
//      color: var(--onSurface);
//      margin: 0 0 0 5px;
//    }
//  }
//}
//.notifications-icon.active {
//  background-color: var(--secondaryContainer);
//  color: var(--onSecondaryContainer);
//  border-radius: 12px;
//}
