.profile-edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  //width: 100%;
  //height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: calc(100% - 4rem);
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 4rem);
  padding: 2rem 2rem 0 2rem;
}

.left {
  width: calc(20% - 2rem);
  height: 100%;
  padding-right: 2rem;
}

.main {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnProfile {
  position: absolute;
  transform: translateY(-20%);

}

.profile-edit-container {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  width: 100%;
  height: calc(315px + 20vh);
  border-radius: 12px;
  max-width: 851px;
  //background-color: var(--surface);
}

.coverContainer {
  width: 100%;
  height: 65%;
  max-width: 851px;
  max-height: 315px;
}

.coverContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  max-width: 851px;
  max-height: 315px;
}

.profileContainer {
  display: flex;
  align-items: center;
  //justify-content: center;
  width: 100%;
  height: 35%;
  background-color: var(--surfaceContainerLowest);
  border-radius: 0 0 12px 12px;
}

.avatarContainer {
  width: 20%;
  height: 100%;
  margin-right: 1rem;
}

.avatarContainer img {
  width: 164px;
  height: 164px;
  object-fit: cover;
  position: relative;
  left: 15%;
  transform: translateY(-20%);
  background-color: var(--surface);
  padding: 4px;
  border-radius: 50%;
}

.nameContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-5%);
}

.nameContainer span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--onBackground);
}

.nameContainer * {
  margin-left: 20px;
}

.addfrButtonContainer{
  width: calc(25% - 1rem);
  display: flex;
  align-items: center;
  justify-content: end;
}

.addfrButtonContainer button {
  border-radius: 12px;
}

.box {
  display: flex;
  align-items: center;
}

.box span {
  margin-right: 5px;
}

//
.descriptionContainer {
  height: fit-content;
  width: calc(851px - 40px);
  background-color: var(--surface);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  max-width: 851px;
}

.descriptionContainer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--onBackground);
  margin: 0;
}

#backButton {
  border-radius: 12px;
  background-color: var(--surfaceContainerHigh);
  position: fixed;
}


@media screen and (max-width: 1367px) {
  .mainContainer{
    max-width: 640px ;
    max-height: 360px;
  }
  .coverContainer{
    max-width: 640px ;
  }
  .coverContainer img{
    max-width: 640px;

  }
  .descriptionContainer{
    max-width: calc(640px - 40px) ;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
