@if (isGettingMine$| async) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
} @else {

  <div class="container">
    <div class="left">
      <button id="backButton" (click)="goBack()" mat-fab>
        <mat-icon>arrow_back</mat-icon>
      </button>

    </div>
    <div class="main"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [fromRoot]="true"
         (scrolled)="onScrollDown($event)">
      <mat-card class="mainContainer">
        @if (mineProfile.coverUrl === '') {
          <div class="coverContainer">
            <img
              src="https://images.pexels.com/photos/1668246/pexels-photo-1668246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
          </div>
        } @else {
          <div class="coverContainer">
            <img
              src="{{mineProfile.coverUrl}}">
          </div>
        }
        <!--        <div class="coverContainer">-->
        <!--          <img-->
        <!--            src="{{mineProfile.coverUrl}}">-->
        <!--        </div>-->
        <div class="profileContainer">
          <div class="avatarContainer">
            <img
              src="{{mineProfile.avatarUrl}}" onerror="this.onerror=null;this.src='public/images/avatar.jpg';">
          </div>
          <div class="nameContainer">
            <span>{{ mineProfile.userName }}</span>
            @if ((mutualFriends$ | async) != 0) {
              <p>{{ mutualFriends$ | async }} Mutual Friends</p>
            }
          </div>
          <div class="addfrButtonContainer">


            @if (mineUid === yourUid) {
              <button class="btnProfile" (click)="profileEdit()" mat-stroked-button>
                <div class="box">
            <span class="material-symbols-outlined">
              edit
            </span>
                  Edit
                </div>
              </button>
            } @else {
              @if ((friendshipStatus$ | async) == null) {
                <button (click)="sentFriendRequest()" class="btnProfile" mat-stroked-button>
                  <div class="box">
            <span class="material-symbols-outlined">
              person_add
            </span>
                    Add Friend
                  </div>
                </button>
              } @else if ((friendshipStatus$ | async)?.status == 'pending') {
                @if ((friendshipStatus$ | async)?.uid == mineUid) {
                  <button class="btnProfile" (click)="sendUnfriend()" mat-stroked-button>
                    <div class="box">
                <span class="material-symbols-outlined">
                  pending
                </span>
                      Requested
                    </div>
                  </button>
                } @else {
                  <button mat-flat-button id="confirmButton" class="button">Confirm</button>
                  <button mat-stroked-button (click)="sendUnfriend()" class="button">Delete</button>

                }

              } @else {
                <button class="btnProfile" (click)="sendUnfriend()" mat-stroked-button>
                  <div class="box">
              <span class="material-symbols-outlined">
                person_check
              </span>
                    Friends
                  </div>
                </button>
              }
            }

          </div>
        </div>
      </mat-card>

      <mat-card class="descriptionContainer">
        <h3>
          About
        </h3>
        <p>
          {{ mineProfile.bio }}
        </p>
      </mat-card>
      <div class="mine-posts">
        <div class="posts">
          @for (post of minePosts; track $index) {
            <app-post [postUser]="post"></app-post>
          }
        </div>
        @if (isGettingMine$| async) {
          <div class="spinner">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>

    </div>
    <div class="right">
    </div>
  </div>

}
