@if (isGettingMine$| async) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="container"

  >
    <div class="left">
      <button id="backButton" (click)="goBack()" mat-fab>
        <mat-icon>arrow_back</mat-icon>
      </button>

    </div>
    <div class="main"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [fromRoot]="true"
         (scrolled)="onScrollDown($event)">
      <div class="mainContainer">
        <div class="coverContainer">
          <img
            src="https://s3-alpha-sig.figma.com/img/64c9/f3a6/f0a23190ef0bac6c838565e5648be3f5?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hhBmUgUM032bwaph3uwjXknx9opfB5yA43~-BnIsm~TPggkQw7P48wMo-ilIx0Xk5dZoQzi-IiS4mE0MOXdluYmoSVZMRITXpi1WKRR2MSE38jnsVZ0iFVq6YVS-eOLyomAWg1AYI18NHNkFTaI4kdtxOomW7E5r46sNlcdbLhl~yvOV~qu8fDr~QpDF6DF65RMp4FwrT9bZpPizWeoHl3blAFOo75cLiKIOrFvohex~RzdyzIp5Bo9qzskWOFDusOOqMadDqjd6~RoZyg~1TBDnZT7lRv1wicCZ3nba9VxKSYoamY4TqoRG9J3LziSxk8GtOoYrr8FMW0s64bOXcw__">
        </div>
        <div class="profileContainer">
          <div class="avatarContainer">
            <img
              src="{{mineProfile.avatarUrl}}">
          </div>
          <div class="nameContainer">
            <span>{{ mineProfile.userName }}</span>
            <p>150 Mutual Friends</p>
          </div>
          <div class="addfrButtonContainer">


            @if (mineUid === yourUid) {
              <button class="btnProfile" (click)="profileEdit()" mat-stroked-button>
                <div class="box">
            <span class="material-symbols-outlined">
              edit
            </span>
                  Edit
                </div>
              </button>
            } @else {
              <button class="btnProfile" style="display: none" mat-stroked-button>
                <div class="box">
            <span class="material-symbols-outlined">
              person_add
            </span>
                  Add Friend
                </div>
              </button>
            }



            <button class="btnProfile" style="display: none;" mat-stroked-button>
              <div class="box">
              <span class="material-symbols-outlined">
                person_check
              </span>
                Friends
              </div>
            </button>

          </div>
        </div>
      </div>

      <div class="descriptionContainer">
        <h3>
          About
        </h3>
        <p>
          {{ mineProfile.bio }}
        </p>
      </div>
      <div class="mine-posts">
        <div class="posts">
          @for (post of minePosts; track $index) {
            <app-post [postUser]="post"></app-post>
          }
        </div>
        @if (isGettingMine$| async) {
          <div class="spinner">
            <mat-spinner></mat-spinner>
          </div>
        }

      </div>


    </div>
    <div class="right">
    </div>
  </div>

}
