::ng-deep .cdk-overlay-container {
  z-index: 9999;

  ::ng-deep .mat-mdc-dialog-surface {
    border-radius: 0;
  }
}

.container {
  font-family: "Public Sans", sans-serif;
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;

  @media only screen and (max-width: 1366px) {
    flex-direction: column;
    height: auto;
  }
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.image-container {
  overflow: hidden;
  width: 65%;
  position: relative;

  @media only screen and (max-width: 1366px) {
    width: 100%;
    height: 60vh;
  }
}

#post-image {
  position: absolute;
  top: 0;
  left: 0;
  filter: none;
}

#blur-background {
  width: 100%;
  height: 100%;
  filter: blur(10px);
}

.blur-background {
  filter: blur(10px);
  background-size: 100%;
}

.image-container img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;

  @media only screen and (max-width: 1366px) {
    width: 90%;
    padding-left: 50px;
  }
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 1366px) {
    flex-direction: row;
  }
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.post-info {
  flex: 1;
  margin-left: 10px;

  @media only screen and (max-width: 1366px) {
    margin-left: 5px;
  }
}

.username {
  font-weight: bold;
  display: block;
}

.post-date {
  font-size: 0.9em;
  color: gray;
}

.post-options {
  font-size: 1.5em;
  cursor: pointer;
}

.post-content {
  margin: 20px 0;

  @media only screen and (max-width: 1366px) {
    margin: 15px 0;
  }
}

.likes {
  display: block;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 10px;

  @media only screen and (max-width: 1366px) {
    justify-content: space-between;
  }
}

.spacer {
  flex-grow: 1;
}

.post-actions button {
  background: none;
  border: none;
  font-size: 1.0em;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 30px;

  @media only screen and (max-width: 1366px) {
    max-height: 60vh;
  }
}

.comment {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
  width: 100%;
}

.profile-pic-small img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: gray;
  object-fit: cover;
  overflow: hidden;
}

.comment-content {
  margin-left: 10px;
  flex-grow: 1;
}

.comment-username {
  font-weight: bold;
}

.comment-text {
  display: block;
  margin: 5px 0;
}

.comment-date {
  font-size: 0.8em;
  color: #000000;
}

.comment-username, .profile-pic-small:hover {
  cursor: pointer;
}

.comment-options {
  margin-left: auto;
}

mat-form-field {
  margin-top: 15px;
  width: 100%;
  height: 60px;
}

#text-button {
  display: block;
  margin: 10px auto;
  background: none;
  border: none;
  color: #3f51b5;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  text-align: left;
}

.carousel-item {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  z-index: 0;
  pointer-events: none;

  .bg-image {
    filter: blur(16px);
    -webkit-filter: blur(16px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 1366px) {
      filter: blur(10px);
    }
  }

  .bg-text {
    color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 1366px) {
      top: 32%;
      width: 100%;
      height: 60%;
    }
  }
}

.carousel-item.active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 95%;
  border-radius: 12px;
  object-fit: contain;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;

  @media only screen and (max-width: 1366px) {
    top: 50%;
  }
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

#liked mat-icon {
  color: red;
}

.count {
  display: flex;
  color: var(--mat-icon-color);
}

.comment-bt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.delete-comment {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#send-button {
  margin-right: 10px;
}

.blur {
  pointer-events: none;
  opacity: 0.5;
}
