.container {
  font-family: "Public Sans", sans-serif;
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  height: 100vh; /* Full window height */
  width: 100vw;  /* Full window width */
  box-sizing: border-box ;
  position: relative;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.image-container {
  overflow: hidden;
  width: 65%;
  position: relative;
  //display: flex;
  //align-items: center;
}

#post-image{
  position: absolute;
  top: 0;
  left: 0;
  filter: none;
}

#blur-background{
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.blur-background {
  filter: blur(10px);
  background-size: 100%;
}

.image-container img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.post-info {
  flex: 1;
  margin-left: 10px;
}

.username {
  font-weight: bold;
  display: block;
}

.post-date {
  font-size: 0.9em;
  color: gray;
}

.post-options {
  font-size: 1.5em;
  cursor: pointer;
}

.post-content {
  margin: 20px 0;
}

.likes {
  display: block;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.post-actions {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

.post-actions button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.comment {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
  width: 100%;
}

.profile-pic-small img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: gray;
  object-fit: cover;
  overflow: hidden;
}

.comment-content {
  margin-left: 10px;
}

.comment-username {
  font-weight: bold;
}

.comment-text {
  display: block;
  margin: 5px 0;
}

.comment-date {
  font-size: 0.8em;
  color: #000000;
}

mat-form-field {
  margin-top: 15px;
  width: 100%;
  height: 60px;
}

#text-button {
  background: none;
  border: none;
  color: #3f51b5;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  text-align: left;
}
.carousel-item {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  z-index: 0;
  pointer-events: none;

  .bg-image {
    filter: blur(16px);
    -webkit-filter: blur(16px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.carousel-item.active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 95%;
  border-radius: 12px;

  object-fit: contain;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.favorite {
  color: red;
}
