<div class="card-container" *ngFor="let user of postUser; let i = index">
  <div class="post-user-container" (click)="navigateToDetail(i)">
    <img src="{{ user.avatar }}" alt="Profile Picture" id="profile-pic"/>
    <div class="post-info">
      <span class="username">{{ user.name }}</span>
      <span class="post-time">{{ user.postTime }}</span>
    </div>
    <div class="post-options">
      <button mat-icon-button>
        <span class="material-symbols-outlined">more_horiz</span>
      </button>
    </div>
  </div>
  <p id="post-caption">{{ user.caption }}</p>
  <div class="carousel-container">
    <div class="carousel-button-prev" (click)="prevImage(carousel)">
      <mat-icon>chevron_left</mat-icon>
    </div>
    <div class="carousel-images"
         (mousedown)="onMouseDown($event, carousel)"
         (mouseleave)="onMouseLeave()"
         (mouseup)="onMouseUp()"
         (mousemove)="onMouseMove($event, carousel)"
         #carousel>
      <img *ngFor="let image of user.postImages" [src]="image" class="post-image" draggable="false"
           (mousedown)="$event.preventDefault()">
    </div>
    <div class="carousel-button-next" (click)="nextImage(carousel)">
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
  <hr>
  <div class="post-actions">
    <div class="on-post-actions">
      <button mat-button (click)="toggleFavorite(user)">
        <mat-icon [ngClass]="{'favorite': user.isLiked}">{{ user.isLiked ? 'favorite' : 'favorite_outlined' }}
        </mat-icon>
        {{ user.likes }} likes
      </button>
      <button mat-button>
        <mat-icon>{{ commentIcon }}</mat-icon>
        {{ user.comments }} comments
      </button>
      <button mat-button (click)="toggleShare()">
        <mat-icon>{{ shareIcon }}</mat-icon>
        {{ user.shares }} shares
      </button>
    </div>
    <div class="save-post-action">
      <button mat-icon-button (click)="toggleBookmark()">
        <mat-icon>{{ bookmarkIcon }}</mat-icon>
      </button>
    </div>
  </div>
</div>
