<mat-card class="example-card" appearance="raised">

  <mat-card-header class="example-card-header">
    @if (contentLoaded) {
      <img mat-card-avatar
           class="example-header-image"
           src="{{ postUser.uid | idToAvatar | async }}"
           (click)="navigateToProfile()"
      >
    } @else {
      <ngx-skeleton-loader mat-card-avatar

                           appearance="circle"
      >
      </ngx-skeleton-loader>
    }
    <mat-card-title *ngIf="!contentLoaded" class="username">
      <ngx-skeleton-loader
        [theme]="{
            width: '100px',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"
      ></ngx-skeleton-loader>
    </mat-card-title>
    <mat-card-title *ngIf="contentLoaded" (click)="navigateToProfile()" class="username">
      {{ postUser.uid | idToName | async }}
    </mat-card-title>
    <mat-card-subtitle *ngIf="!contentLoaded" class="post-time">
      <ngx-skeleton-loader
        [theme]="{
            width: '100px',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"
      ></ngx-skeleton-loader>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="contentLoaded" (click)="navigateToProfile()" class="post-time">
      {{
        postUser.createdAt | dateTranform
      }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!contentLoaded" class="content-post">
    <div class="wrapper">
      <ngx-skeleton-loader
        [theme]="{
          width: '80%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="wrapper">
      <ngx-skeleton-loader
        [theme]="{
          width: '90%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="wrapper">
      <ngx-skeleton-loader
        [theme]="{
          width: '60%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="contentLoaded" class="content-post">
    <p>
      {{ postUser.content }}
    </p>
  </mat-card-content>
  <div *ngIf="contentLoaded" class="carousel-container">
    <div class="carousel-button-prev" (click)="prevImage(carousel)" *ngIf="!isFirstImage() && hasMultipleImages()">
      <mat-icon>chevron_left</mat-icon>
    </div>
    <div class="carousel-images"
         (click)="navigateToDetail()"
         #carousel>
      @for (image of postUser.imageUrls; track $index) {
        <img src="{{image}}"
             class="post-image" draggable="false"
             (mousedown)="$event.preventDefault()"/>
      }
    </div>
    <div class="carousel-button-next" (click)="nextImage(carousel)" *ngIf="!isLastImage() && hasMultipleImages()">
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>


  <mat-card-actions *ngIf="contentLoaded">
    <button mat-button (click)="toggleFavorite()">
      <mat-icon [ngClass]="{'favorite': favoriteIcon === 'favorite'}">{{ favoriteIcon }}</mat-icon>
      LIKE
    </button>
    <button mat-button (click)="toggleShare()">
      <mat-icon>{{ shareIcon }}</mat-icon>
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
