.example-card {
  width: 100%;
  padding: 20px;
  background-color: var(--surface);
  border-radius: 12px;
  margin-bottom: 20px;
  max-width: 672px;
  border: none;
}

.example-card-header {
  padding: 0;
}

.example-header-image {
  margin-bottom: 0;
  cursor: pointer;
}

.content-post {
  padding: 0;
  margin: 16px 0;
}

.post-user-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

#profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 15px;
}

.post-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#post-caption {
  margin-top: 10px;
}

.post-user-container {
  display: flex;
  align-items: center;
}

#profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 15px;
}

.post-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#post-caption {
  margin-top: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  gap: 10px;
  transform: translateX(0px);
  cursor: grab;
  flex-direction: row;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-images:active {
  cursor: pointer;
}

.carousel-images::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

.post-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 12px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.username {
  font-weight: bold;
  //display: block;
  font-size: 16px;
}

hr {
  border: 1px solid var(--surfaceContainer);
  margin-top: 0.9rem;
  width: 97%;
  align-items: center;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.on-post-actions button {
  background: none;
  border-radius: 12px;
  width: auto;
  font-size: 16px;
  cursor: pointer;
  color: var(--neutral);
}

.on-post-actions {
  flex-grow: 1;
}

.favorite {
  color: red;
}

mat-icon {
  margin: 0;
}

.post-time {
  color: var(--outline);
  font-size: 13px;
  margin-top: 1px;
}

.carousel-button-prev {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 6px 6px 0 6px;
  cursor: pointer;
  z-index: 1;
  border-radius: 100px;
  width: 25px;
  height: 31px;

}

.carousel-button-next {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 6px 6px 0 6px;
  cursor: pointer;
  z-index: 1;
  border-radius: 100px;
  width: 25px;
  height: 31px;
}


//loader

.item {
  width: auto;
  height: auto;
  margin: 10px auto;
  border: 1px solid #eaeaea;
  padding: 10px;
}

.fb-item {
  width: auto;
  height: auto;
  margin: 10px auto;
  border: 1px solid #eaeaea;
  padding: 10px;
  background-color: var(--surface);
}

.gravatar {
  width: 100px;
  height: 90px;
}

.gravatar-title {
  width: 500px;
  padding: 10px;
  height: 80px;
}

.first-section-wrapper,
.second-section-wrapper {
  width: 100%;
  height: auto;
  flex: 1;
}

.first-section-wrapper {
  display: inline-flex;
}

.second-section-wrapper {
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  flex: 1;
}

.item-with-background {
  background: #121212;
  padding: 10px;
}

.loader {
  line-height: 1;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background: rgb(239, 241, 246) no-repeat;
  background-color: rgb(239, 241, 246);
  line-height: 1;
  overflow: hidden;
  position: relative;
}

.content-loaded-image {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: rgb(174, 174, 174);
  margin: 5px;
  border-radius: 50%;
}

.gravatar-title-name {
  margin-top: 0;
  width: 200px;
  border-radius: 0;
  height: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

.gravatar-description {
  width: 170px;
  border-radius: 0;
  height: 15px;
  font-size: 12px;
}


::ng-deep .mat-mdc-card-outlined {
  box-shadow: none !important;
}
