.friends{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  align-items: start;
  align-content: start;
  justify-content: space-between;

}
.friendcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 47%;
  padding: 10px;
  margin-top: 18px;
  background-color: var(--surface);
  border-radius: 12px;
}
.friendavaname {
  display: flex;

}
.nameUser >span{
  margin: 0;
  font-weight: bold;
  width: 100%;
  row-gap: 10px;
  font-size: 16px;
  color: var(--onSurface);


}
.nameMutual p{
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--outline);
}
#more{
  color: var(--onBackground);
}


.optionMenu{
  display: flex;
}
.friendcontainer img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
}

.optionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameMutual p {
  margin: 0;
}

