<div [ngClass]="{ 'blur': isloading }">
  <div class="outercon">
    <div class="container">
      <img id="hinh"
           src="../public/images/logo.png">
      <div id="text">
        <h2>Personal Information</h2>
      </div>
      <form [formGroup]="regisForm">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="userName"
            (blur)="updateErrorMessage()"
            required
          />
          @if (userName.invalid) {
            <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" readonly>
        </mat-form-field>
        <div id="nextBox">
          <button mat-flat-button (click)="register()">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>


