.outercon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--surfaceContainer);
}
.container{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-around;
  padding: 70px 60px 70px 60px;
  width: 20%;
  border-radius: 12px;
  align-content: space-between;
}
#text{
  width: 100%;
  display: flex;
  align-items: end;
  height: fit-content;
  margin: 2% auto 0 auto;
}
#nextBox{
  display: flex;
  justify-content: center;
  width: 100%;
}
img{
  width: 180px;
  margin: 0 auto;
}
#hinh{
  display: flex;
  justify-content: center;
}

h2{
  font-size: 24px;
  font-weight: 700;

}
