
.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--surfaceContainer);
  padding: 20px;
  height: 80%;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100% ;
}

.search-result{
  width: 100%;
  max-width: 680px;

}

.everyone,.post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 1vh;
  padding-top: 1vh;
}

.user-suggestions {
  margin-bottom: 10px;
  background-color: var(--surface);
  border-radius: 12px;
  overflow: hidden;


  .mat-mdc-card-content {
    padding: 0;
  }

  .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: background-color 0.2s ease;

    &:not(:last-child) {
      border-bottom: 1px solid var(--outlineVariant);
    }
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
  }

  .user-details {
    display: flex;
    flex-direction: column;
  }

  .user-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    color: var(--onSurface);
  }

  .mutual-friends {
    font-size: 14px;
    color: var(--onSurfaceVariant);
  }

  .add-friend-button {
    background-color: var(--primary) !important;
    border-radius: 12px;
    color: var(--onPrimary);
    text-transform: none;
  }
}

#backButton {
  border-radius: 12px;
  background-color: var(--surfaceContainerHigh);
  position: fixed;
  left: 20px;
}
