.friend-suggestions {
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  padding: 5px;
  border-radius: 12px;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  padding-left: 14px;
  margin-top: 10px;
  border-bottom: 1px solid var(--border);
  color: var(--onSurface);
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1px 0;
  padding: 12px;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-right: 10px;
}

.label {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  color: var(--onSurface);
}
.mutual-friends{
  font-size: 13px;
  color: var(--outline);
  font-weight: 500;
}
//
//#add-friend-button {
//  background-color: var(--primary);
//  color: var(--onPrimary);
//  border-radius: 12px;
//  cursor: pointer;
//  font-size: 15px;
//  padding: 10px 20px;
//  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
//  height: 2.9rem;
//}


.add-friend-button{
  background-color: var(--primary)!important;
  border-radius: 12px;
  color: var(--onPrimary);

}
