.friend-suggestions {
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  padding: 5px;
  border-radius: 12px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  padding-left: 14px;
  margin-top: 10px;
  border-bottom: 1px solid var(--border);
  color: var(--onSurface);
  @media only screen and (max-width: 1366px) {
    font-size: 20px;
  }
}
