<mat-card class="container" appearance="raised">

  <div class="all-side-bar">
    @for (link of navLinks; track $index) {
      <div class="navigation" (click)="setActive(link)" [ngClass]="{'active': activeLink === link}">
        <span class="material-symbols-outlined">{{ link.icon }}</span>
        <span class="name-navigation">{{ link.label }}</span>
      </div>
    }

    <div class="profile-avatar-and-name" (click)="navigateToProfile()">
      @if (!(profileMine$ | async)?.avatarUrl) {
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
        <span class="name">John Doe </span>
      } @else {
        <img src="{{(profileMine$|async)?.avatarUrl}}" alt="Avatar" class="avatar">
        <span class="name">{{ (profileMine$|async)?.userName }}</span>
      }

    </div>
  </div>

</mat-card>
