<mat-card class="container" appearance="raised">

  <div class="all-side-bar">
    @for (link of navLinks; track $index) {
      <div class="navigation" (click)="setActive(link)" [ngClass]="{'active': activeLink === link}">
        <span class="material-symbols-outlined">{{ link.icon }}</span>
        <span class="name-navigation">{{ link.label }}</span>
      </div>
    }

    <div class="profile-avatar-and-name" (click)="navigateToProfile()">
      <img src="{{user.avatarUrl}}" alt="Avatar" class="avatar"
           onerror="this.onerror=null;this.src='public/images/avatar.jpg';">
      <span class="name">{{ (profileMine$|async)?.userName }}</span>

    </div>
  </div>

</mat-card>
