.profile-edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.profile-edit-container {
  background-color: var(--surface);
  border-radius: 12px;
  padding: 20px;
  width: 500px;
  max-width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


}


.profile-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
  }
}

mat-form-field {
  width: 100%;
}

.small-input {
  font-size: 14px;

  .mat-form-field-wrapper {
    padding-bottom: 0.5em;
  }

  .mat-form-field-infix {
    padding: 0.5em 0;
  }
}

.photo-section {

  h3 {
    font-size: 14px;
    font-weight: 500;
  }
}

.avatar-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.avatar-wrapper {
  width: 120px;
  height: 120px;
  position: relative;
}

.avatar-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-menu-button {
  position: absolute;
  right: 0;
  transform: translateY(100%);
  background-color: var(--surface);
}

.cover-photo-container {
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.submit-button {
  width: 100%;
  color: var(--onPrimary);
  background-color: var(--primary);
  border-radius: 12px;

}


.profile-picture-container button,
.cover-photo-container button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--surface);
}


.snackbar-success {
  background-color: #4caf50; // Green for success
  color: white;
}

.snackbar-error {
  background-color: #f44336; // Red for error
  color: white;

}


//div ::-webkit-scrollbar-track {
//  background-color: #fff;
//}
//
///* scrollbar itself */
//div ::-webkit-scrollbar-thumb {
//  background-color: #babac0;
//  border-radius: 16px;
//  border: 4px solid #fff;
//}
//
///* set button(top and bottom of the scrollbar) */
//div ::-webkit-scrollbar-button {
//  display:none;
//}

.spinner-loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
