
.on-create-post {
  display: flex;
  align-items: center;
  height: 15%;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}


#post-content {
  flex-grow: 1;
  border-radius: 12px;
  border: 0;
  font-size: 16px;
  background-color: var(--surfaceContainerHigh);
  color: var(--onSurfaceVariant);
  height: 55px;
}

#share-post-button {
  background-color: var(--primary);
  color: var(--onPrimary);
  border-radius: 12px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  height: 55px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#add-image {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
}

#add-image:hover {
  border-radius: 8px;
}


mat-form-field {
  width: 70%;
  max-height: 55px;
  background-color: var(--surfaceContainer);
  border-radius: 12px;
  transition: background-color 0.3s;
}

//mat-form-field:hover {
//  background-color: var(--base-03);
//}

mat-form-field ::ng-deep .mdc-notched-outline__leading {
  border: none;
}

mat-form-field ::ng-deep .mdc-notched-outline__notch {
  border: none;
}

mat-form-field ::ng-deep .mdc-notched-outline__trailing {
  border: none;
}

.post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#dialogSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.example-card {
  border: none;
  padding: 20px;
  width: 100%;
  max-width: 672px;
  margin-bottom: 20px;
  background-color: var(--surface);

}

.example-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  max-width: 672px;

  ::ng-deep .mat-mdc-card-header-text {
    display: none;
  }

}

.example-header-image {
  margin-bottom: 0;
}

.button-share-post {
  background-color: var(--primary) !important;
  color: var(--onPrimary);
  border-radius: 12px;
  cursor: pointer;
  height: 50px;
  font-size: 15px;
}


@media (max-width: 1366px) {
  .example-card {
    padding: 20px;
    width: 100%;
    max-width: 555px;
    margin-bottom: 20px;
  }

  .button-share-post {
    background-color: var(--primary) !important;
    color: var(--onPrimary);
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    width: 27%;
  }

  mat-form-field {
    width: 60%;
    max-height: 55px;
    background-color: var(--surfaceContainer);
    border-radius: 12px;
    transition: background-color 0.3s;
  }
}

@media (max-width: 1024px) {
  .example-card {
    padding: 10px;
    width: 100%;
    max-width: 640px;
    margin-bottom: 20px;

  }

  .button-share-post {
    background-color: var(--primary) !important;
    color: var(--onPrimary);
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    width: 25%;
  }

  mat-form-field {
    width: 64%;
    max-height: 55px;
    background-color: var(--surfaceContainer);
    border-radius: 12px;
    transition: background-color 0.3s;
  }

}

@media (max-width: 1180px) {

  .example-card {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    max-width: 672px;

  }


}

@media (max-width: 820px) {
  .button-share-post {
    display: none;
    background-color: var(--primary) !important;
    color: var(--onPrimary);
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    width: 25%;
  }
  mat-form-field {
    width: 89%;
    max-height: 55px;
    background-color: var(--surfaceContainer);
    border-radius: 12px;
    transition: background-color 0.3s;
  }
}

