<div class="container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     [fromRoot]="true"
     (scrolled)="onScrollDown($event)"

>


  <mat-card class="example-card" appearance="raised">
    <mat-card-header class="example-card-header">
      <div mat-card-avatar class="example-header-image">
        <img src="{{mine.avatarUrl}}" alt="Avatar" class="avatar"
             onerror="this.onerror=null;this.src='public/images/avatar.jpg';">
      </div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" (click)="this.openDialog()">
        <input matInput placeholder="Tell me your story" readonly/>
      </mat-form-field>
      <button class="button-share-post" mat-flat-button type="button" (click)="this.openDialog()">Share post</button>
    </mat-card-header>
  </mat-card>


  <div class="post">
    @for (post of allPosts; track $index) {
      <app-post class="post" [postUser]="post"></app-post>
    }
  </div>
</div>

<div *ngIf="(isCreateLoading$ | async)" class="overlay">
  <mat-spinner id="dialogSpinner"></mat-spinner>
</div>
