<div class="container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     [fromRoot]="true"
     (scrolled)="onScrollDown($event)"

>
  <div class="create-post">
    <div class="on-create-post">
      <img src="{{profilePic}}" alt="Avatar" class="avatar">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" (click)="this.openDialog()">
        <input matInput placeholder="Tell me your story" readonly/>
      </mat-form-field>
    </div>
    <hr>
    <button id="add-image" mat-button>
      <mat-icon appearance="outlined">add_photo_alternate</mat-icon>
      Image
    </button>
  </div>
  <br>
  <div class="post">
    @for (post of allPosts; track $index) {
      <app-post class="post" [postUser]="post"></app-post>
    }
  </div>
</div>
